html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#7209b7,#3f37c0);
}

.contenedor{
  margin: 50px auto;
  width: 400px;
  padding: 30px;
  background: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.contenedor h2{
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  color: #5bc9eb;
  font-size: 30px;
}

.contenedor .elemento label{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.contenedor .elemento input{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #4cc9f0;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.contenedor .elemento input[type="submit"]{
  background-color: #f72585;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 30px;
}